::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #282c3421;
}

::-webkit-scrollbar-thumb {
    background: #94949467;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #46464667;
    cursor: default;
}

.swal2-input {

    width: 85% !important;
    height: 45px !important;
    margin: 18px auto 3px auto !important;
    border: 1px solid rgb(207, 207, 207) !important;
    border-radius: 4px !important;
    padding: 0px 13px 0px 13px !important;
}

.swal2-textarea {
    width: 85% !important;
    height: 150px !important;
    max-height: 250px !important;
    resize: none;
    border: 1px solid rgb(207, 207, 207) !important;
    border-radius: 4px !important;
    padding: 13px 13px 13px 13px !important;
    background-color: #21252b;
    color: #abb2bf !important;
    white-space: nowrap;
    overflow-x: auto;
    tab-size: 4;
    font: 18px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

.swal2-deny {
    color: rgb(236, 65, 65) !important;
    background: none !important;
    outline: 1px solid rgb(236, 65, 65) !important;
    outline-offset: -1px !important;

}

.swal2-cancel {
    color: rgb(91, 91, 91) !important;
    background: none !important;
    outline: 1px solid rgb(91, 91, 91) !important;
    outline-offset: -1px !important;

}

.ui-widget.ui-widget-content.ui-autocomplete{
    z-index: 1111;
    width: 10px;
}

.renderjson {
    text-align: left !important;
    text-shadow: none !important;
	background: #282c34!important;
	padding: 1em !important;
    border-radius: 5px;
    max-height: 70vh;
    font-size: 16px;
    line-height: 22px;
}

.renderjson a {
	text-decoration: none;
    color: #9096a1;
}

.renderjson .disclosure {
	color: #bfc7d6;
}

.renderjson .syntax {
	color: #abb2bf;
}

.renderjson .string {
	color: #97c178;
}

.renderjson .number {
	color: #d19a66;
}

.renderjson .boolean {
	color: #d19a66;
}

.renderjson .key {
	color: #56b6c2;
}

.renderjson .keyword {
	color: #d19a66;
}

.renderjson .object.syntax {
	color: #abb2bf;
}

.renderjson .array.syntax {
	color: #abb2bf;
}

.sytools-toast-lower {
    margin-top: 120px !important;
}

.sytools-wide-select {
    width: 80% !important;
    font-size: 14px !important;
    margin: 0 auto;
}
